<h3>@ViewBag.Message</h3>

<address>
    <strong>Адрес:</strong> г.Санкт-Петербург, ул.Торжковская, 15<br />
    <strong>Телефон:</strong> +79313699351<br />
    <strong>Почта:</strong>   <a href="mailto:r0m-1k@yandex.ru">r0m-1k@yandex.ru</a><br />
    <strong>ВКонтакте:</strong> <a href="vk.com/eltechuniv">Vk</a>
</address>