@model ELibrary.Models.Book

@{
    ViewBag.Title = "Add";
}

<h2>@ViewBag.Head</h2>

<div>
    @Html.ActionLink("Перейти в библиотеку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
