@model ELibrary.Models.Book

@{
    ViewBag.Title = "Retrieve";
}

<h2>Книга была возвращена в библиотеку.</h2>

<div>
    @Html.ActionLink("Вернуться к списку книг", "MyBookList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}